// imports
@import './node_modules/css-reset-and-normalize/scss/reset-and-normalize.scss';

// variables
$green: #00D8A7;
$white: #fff;
$black: #000;
$blue: #152a8e;
$pink: #b1376c;
$orange1: rgb(196, 129, 96);
$orange2: rgb(181, 76, 58);
$yellow: rgb(208, 175, 98);
$navy: rgb(45, 56, 70);

.logo {
  width: 100px;
  height: auto;
  display: block;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  z-index: 100;
}
.page-title {
  background: white;
  color: $orange1;
  font-family: 'Roboto', sans-serif;
  color: $orange1;
  position: absolute;
  top: 0px;
  padding: 15px;
  font-family: 1.2em;
  letter-spacing: 1px;
  text-transform: uppercase;
  left: 50%;
  transform: translate(-50%);
  z-index: 100;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Major Mono Display', monospace;
  font-family: 16px;
}

.blobs-container {
  // border: 5px solid $white;
  width: 100%;
  height: 100%;
  background: $green;
  background: -webkit-linear-gradient(left top, $orange1, $orange1);
  background: -o-linear-gradient(bottom right, $orange1, $orange1);
  background: -moz-linear-gradient(bottom right, $orange1, $orange1);
  background: linear-gradient(to bottom right, $orange1, $orange1);
}

.blobs-container:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0px;
  opacity: 0.05;
  z-index: 0;
}

#blobs-parent {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

rect {
-webkit-transform-origin: 50% 50%;
transform-origin: 50% 50%;
}

.blobs {
  -webkit-filter: url("#goo");
  filter: url("#goo");
}

.blob {
  fill: white;
}

.message-body {
  color: $white;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  font-size: 6em;
}

