// imports
@import './node_modules/css-reset-and-normalize/scss/reset-and-normalize.scss';

// variables
$green: #00D8A7;
$white: #fff;
$black: #000;
$blue: #152a8e;
$pink: #b1376c;

body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Major Mono Display', monospace;
  font-family: 16px;
}

.loading_cont {
  width: 100%;
  height: 100%;
  background: $green;
  background: -webkit-linear-gradient(left top, $blue, $pink);
  background: -o-linear-gradient(bottom right, $blue, $pink);
  background: -moz-linear-gradient(bottom right, $blue, $pink);
  background: linear-gradient(to bottom right, $blue, $pink);
}

.loading_cont:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0px;
  opacity: 0.05;
  z-index: 0;
}

#loader {
  display: inline-block;
  position: absolute;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

rect {
-webkit-transform-origin: 50% 50%;
transform-origin: 50% 50%;
}

.blobs {
-webkit-filter: url("#goo");
filter: url("#goo");
}

.blob {
  fill: white;
}

.message-body {
  color: $white;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  font-size: 6em;
}

