// imports
@import './node_modules/css-reset-and-normalize/scss/reset-and-normalize.scss';

// variables
$green: #00D8A7;
$white: #fff;
$black: #000;

html, body {
  font-family: 'Major Mono Display', monospace;
  box-sizing: border-box;
  font-size: 16px;
}

#canvas, #temp-canvas {
	position: absolute;
	left: 0px; right: 0;
	bottom: 0; top: 0;
	cursor: crosshair;
}

.canvas-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.freeform-entry-action-buttons-container {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
}

.freeform-entry-action-button {
  width: 50%;
  padding: 10px;
  border: none;
  color: $green;
  background: $white;
  transition: 300ms background-color ease-out;
  font-family: 'Major Mono Display', monospace;

  &:hover, &:active {
    color: $white;
    background-color: $green;
  }

  &:focus {
      outline: 0;
  }
}

.freeform-thankyou-message-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $black;
  color: $green;
  z-index: 100;
}

.freeform-thankyou-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

@media screen and (min-width: 320px) {
  .freeform-entry-action-button {
    font-size: 1.2em;
    padding: 1.2em;
  }
  html, body {
    width: 100%;
    height: 100%;
  }
  .freeform-thankyou-message {
    font-size: 1.3em;
  }
}

@media screen and (min-width: 768px) {
  .freeform-entry-action-button {
    font-size: 1.5em;
    padding: 1.5em;
  }
  .freeform-thankyou-message {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 1024px) {
  .freeform-entry-action-button {
    font-size: 2em;
    padding: 2em;
  }
  .freeform-thankyou-message {
    font-size: 1.8em;
  }
}