// imports
@import './node_modules/css-reset-and-normalize/scss/reset-and-normalize.scss';

// variables
$green: #00D8A7;
$white: #fff;
$black: #000;
$pastel-orange: #be8d5c;
$light-grey: rgb(240, 240, 240);
$orange1: rgb(196, 129, 96);
$orange2: rgb(181, 76, 58);
$yellow: rgb(208, 175, 98);
$pink: #b1376c;

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

html, body {
  font-family: 'Major Mono Display', monospace;
  box-sizing: border-box;
  font-size: 16px;
}

#canvas, #temp-canvas {
	position: absolute;
	left: 0px; right: 0;
	bottom: 0; top: 0;
	cursor: crosshair;
}

.canvas-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.freeform-entry-action-buttons-container {
  border-top: 1px solid $light-grey;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
}

.freeform-entry-action-button {
  &:first-child {
    border-right: 1px solid $light-grey;
  }
  width: 50%;
  padding: 10px;
  border: none;
  color: $orange1;
  background: white;
  transition: 400ms background-color ease-in-out;
  font-family: 'Major Mono Display', monospace;

  &:hover, &:active {
    color: $white;
    background: #ddb367;
  }

  &:focus {
      outline: 0;
  }
}

.freeform-thankyou-message-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: black;
  background-size: cover;
  z-index: 100;
  color: $white;
}

.freeform-thankyou-message {
  position: absolute;
  color: $orange1;
  top: 20%;
  right: 20%;
  bottom: 20%;
  left: 20%;
  line-height: 1.4;
  display: block;
}

.contact-thank-you {
  color: white;
  font-size: 3em;
  text-align: center;
  position: absolute;
  line-height: 1.4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact-container {
  background: $orange1;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.contact-link, .contact-submit {
  margin-top: 200px;
  background-color: $orange1;
  border: 2px solid $orange1;
  outline: none;
  text-decoration: none;
  text-align: center;
  border-radius: 500px;
  outline: none;
  color: white;
  padding: 10px 15px;
  &:hover, &:active {
    background: $orange1;
    color: black;
  }
  &.hollow {
    color: $orange1;
    background-color: transparent;
  }
}

.contact-link {
  border:1px solid white;
}

.contact-form {
  position: absolute;
  font-size: 1.4em;
  top: 20%;
  bottom: 20%;
  right: 20%;
  left: 20%;

  .contact-submit {
    font-size: 1.4em;
    text-align: center;
    &:hover, &:active {
      color: white;
      border-color: white;
    }
  }

  input {
    font-size: 1.5em;
    width: 100%;
    margin-bottom: 0.5em;
    outline: none;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    clear: both;
    background: transparent;
    height: 2em;
  }

}

.contact-link {
  margin-right: 15px;
  &:hover, &:active {
    background: $orange1;
    color: black;
  }
}

@media screen and (min-width: 320px) {
  .freeform-entry-action-button {
    font-size: 1.2em;
    padding: 1.2em;
  }
  html, body {
    width: 100%;
    height: 100%;
  }
  .freeform-thankyou-message {
    font-size: 1.3em;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .freeform-entry-action-button {
    font-size: 1.5em;
    padding: 1.5em;
  }
  .freeform-thankyou-message {
    font-size: 1.5em;
    text-align: center;

  }
}

@media screen and (min-width: 1024px) {
  .freeform-entry-action-button {
    font-size: 2em;
    padding: 2em;
  }
  .freeform-thankyou-message {
    font-size: 1.8em;
    text-align: center;

  }
}